@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <img src="img\logo.png" alt="Logo" height=100px/>
    <h1 class="display-4">Bienvenido a Saoba</h1>
    <p>
        SAOBA es una empresa familiar encargada de mantener vigente la tradición e ideales iniciales de la fábrica de antaño.</br></br>
        Todos los integrantes, no sólo buscan la artesanía en sus productos, sino que también la excelencia, la intensidad en el sabor, la tradición de los productos chilenos y la calidad; todo lo anterior se materializa en dulces típicos chilenos, como lo son los tradicionales palomitos, las suaves sustancias, los infaltables helados de invierno, las deliciosas galletas o las exquisitas malva coco entre otros, los cuales están hechos para reunir a las familias y amigos durante la hora del té.
    </p>
</div>
